body {
    font-family: Arial, sans-serif;
    background-color: #0fe3ff;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #005a9c; /* Um azul Django */
}

ul {
    background-color: #ff0000;
    border: 1px solid #ddd;
    padding: 15px;
}

li {
    list-style-type: square;
}